<!DOCTYPE html>
<html>
  <head>
    <title>My Dev Academy Blog</title>
    <link type="text/css" rel="stylesheet" href="/styles.css" />
  </head>

  <body>
      {{{body}}}
      {{>footer}}
    <footer>
      <p>Created by Elise and updated by Clementine :) 2022</p>
    </footer>
  </body>
</html>
