<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>My Dev Academy Blog</title>
    <link type="text/css" rel="stylesheet" href="/styles.css" />
  </head>

 {{{body}}}
 {{>footer}}
=======
<html>
  <head>
    <title>My Dev Academy Blog</title>
    <link type='text/css' rel='stylesheet' href='/styles.css' />
  </head>

  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
>>>>>>> 0f3bd0fca5536a3d1fbc9e4c89b7e6d6e5e83d49
</html>
