           <div class="post-section">
          {{#if image}}
            <img
              class="image"
              src={{image}}
              alt="Code editor"
            />
          {{/if}}
            <p>
              {{shortPost}}
            </p>
          </div>