<<<<<<< HEAD
    <footer>
      <p>Created by Elise and updated by Clementine :) 2022</p>
    </footer>
=======
<footer>
  <p>Created by Elise and updated by Clementine :) 2022</p>
</footer>
>>>>>>> 0f3bd0fca5536a3d1fbc9e4c89b7e6d6e5e83d49
