<main>
  <h1>My Dev Academy Blog</h1>
  <article class="type">
    {{#each blogs}}
      <h2>{{blogType}}</h2>
      <div class="posts">
        {{#each details}}
          {{>blogPosts}}
        {{/each}}
      </div>
      </div>
    {{/each}}
  </article>
</main>
