<header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>

      <h1>My Dev Academy Blog</h1>
      <article class="type">
        {{#each blogs}}
          <h2>{{blogType}}</h2>
          <div class="posts">
            {{#each details}}
              {{>blogPosts}}
            {{/each}}
        </div>
         </div>
        {{/each}}
      </article>
    </main>
